@charset "UTF-8";
/* CSS Document */
body {
	background-color: lightsteelblue
	
}
h1 {
	font-family: arial;
}

h2 {
font-family: arial;	
}
p {
font-family: arial;	
}

ul {
font-family: arial;	
}

ol {
font-family: arial;	
}

footer {
font-family: arial;	
}